
/**
 * Bing Ads logo.
 */

.logo[data-logo="Bing Ads"] {
  width: 4.014487811431111em;
}

.logo[data-logo="Bing Ads"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Bing Ads"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Bing Ads"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}